@page
@model AdventureWorksWeb.Pages.indexModel
@{
    ViewData["Title"] = "Bienvenidos a Adventure Works";
}

<div class="jumbotron">
    <h1 class="display-3">Bienvenidos a las web de Adventure Works</h1>
    <p><a class="btn btn-primary" href="Clientes">Clientes</a></p>    
    <p><a class="btn btn-secondary" href="CantidadOrdenes">Cantidad de Ordenes</a></p>
    <p><a class="btn btn-primary" href="AWFeatures/Productos">Productos</a></p>
    <p><a class="btn btn-primary" href="Distribuidores">Distribuidores</a></p>
    <p><a class="btn btn-primary" href="Proveedores">Proveedores</a></p>
</div>